<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <nav>


    <a href="/"><button>Home</button></a>
    <a href='/users'><button>All users</button> </a>
    <a href='/updateuser'><button>Update your info</button></a>
    <a href="/Boss"><button>Boss: Create</button></a>
    <a href="/Boss/delete"><button>Boss: Delete Employee</button></a>

  </nav>


  {{{body}}}

  <script src='/javascripts/script.js'></script>
</body>

</html>