<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
<a href="/">HOME</a>
<a href='/users'>View ALl users</a>
<a href="/Boss">Bosspage</a>
<a href="/Boss/delete">Delete Employee</a>



    {{{body}}}

    <script src='/javascripts/script.js'></script>
  </body>
</html>
